<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-epson-tm" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Epson TM Printer Service</name>
    <description>A simple Cordova plugin for printing receipts from an Epson TM printer.</description>
    <author>Kris Torres</author>
    <keywords>cordova, epson, epos, printer, receipt, ios</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=11.0.0" />
        <engine name="cordova-ios" version=">=6.0.0" />
    </engines>
    <js-module name="PrinterService" src="www/epson-tm.js">
        <clobbers target="EpsonTM" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="EpsonTMPrinterService">
                <param name="ios-package" value="EpsonTMPrinterService" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.epson.escpos</string>
            </array>
        </config-file>
        <framework src="ExternalAccessory.framework" />
        <framework src="libxml2.tbd" />
        <source-file src="src/ios/libepos2.a" framework="true" />
        <header-file src="src/ios/ePOS2.h" />
        <header-file src="src/ios/ePOS2-Bridging-Header.h" />
        <source-file src="src/ios/EpsonTMPrinterService.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
    </platform>
</plugin>
